

<div class="container-fluid" id="footer-content">

    <footer>
       <nav class="navbar navbar-default">
            <div class='quick-contact'>
                <div class='row'>
                    <div class='col-md-12'>
                        <div class='row'>
                            <div class='col-md-4'>
                                <h3 class='title-contact'>Footer Area</h3>
                            </div>
                            <div class='col-md-4'>
                                <h3 class='title-contact'>Stuff</h3>
                            </div>
                            <div class='col-md-4'>
                                <h3 class='title-contact'>More Stuff</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </footer>

</div>
