{{ "{%" }}extends "layout.html"{{ "%}" }}

{{ "{%" }}block body{{ "%}" }}

    <!-- Splash Page -->
    {# Splash Page #}
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>{{intro}}</h1>
                        <h3>"I know. Wretched, isn’t it?"</h3>
                        <hr class="intro-divider">
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="http://sdss-marvin.readthedocs.io/en/stable/" target='_blank' class="btn btn-default btn-lg"><i class="fa fa-question-circle-o fa-fw" aria-hidden="true"></i> <span class="network-name">Help</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->

    <!-- About Section -->
    {# About Section #}
    <section id='about'>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Marvin is the ultimate tool to visualise and analyse MaNGA data</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    {# Team Section #}
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">SDSS</h2>
                    <h3 class="section-subheading text-muted">Marvin was painstakingly built by: </h3>
                </div>
            </div>
        </div>
    </section>

{{ "{%" }}endblock body{{ "%}" }}

<!-- JS Code -->
{{ "{%" }}block code{{ "%}" }}
{{ "{%" }}endblock body{{ "%}" }}
